*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo{
    color: #a07c64;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}




/* Header */

header{
    width: 100%;
    height: 600px;

    background: #E11D1D ;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(352, 54%, 43%, 0.603), hsla(35, 84%, 45%, 0.404)), url('../img/fondo2.png');  
    background: linear-gradient(to right, hsla(352, 54%, 43%, 0.603), hsla(35, 84%, 45%, 0.404)), url('../img/fondo2.png'); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    white-space: pre-wrap;

}

.textos-header h1{
    font-size: 40px;
    color: white;
}

.textos-header h2{
    font-size: 20px;
    font-weight: 300;
    color: white;
}


header .contenedor-imagen-nombre{
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.img-nombre{
    width: 50%;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* nuestros productos */

.contenedor-sobre-presentacion{
    display: flex;
    margin: 20px;
}

.slider{
    width: 100%;
    line-height: 115px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    

}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    animation: cambio 30s infinite linear;
}
.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: auto;
    height: auto;
    max-width:100%;
    max-height:100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    90% {margin-left: -300%;}

}











/* footer */

footer{
    background: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}

.contect-foo h4{
    color: white;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contect-foo p{
    color: white;
    margin: 5px;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.contect-foo a{
    color: white;
}

.contect-foo a:hover{
    color: red;
}


/* vista nosotros*/
.saludo{
    color: #a07c64;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.imagen-nosotros{
    width: 100%;
    border-radius: 300px;
    position: relative;
    top: 80px;
    left: 10px;
}

.sobre-nosotros .contenido-textos-nosotros{
    width: 40%;
    white-space: pre-line;
}

.contenido-textos-nosotros p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    font-size: 105%;
    color:  #4e2a12;
    text-align: justify;
}

.contenedor-img-nosotros{
    width: 50%;
    
}

/* vista catalogo */

.contenedor-categorias{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    width: 90%;
    border: 5px solid #4e2a12;
    border-radius: 10px ;
    text-align: center;
}

.menuCategorias{
    margin: 20px;
}
.itemCategoria{
    display: inline-block;
    color: black;

}

.linkCat{
    padding: 20px 20px;
    color: black;
    font-size: x-large;
}

.linkCat:hover{
    color: red;
}

.contenedor-catalogo{
    text-align: center;
    align-items: center;

}

.tituloProductos{
    color: #a07c64;
    font-size: 30px;
    text-align: center;

}

.producto{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 15%;
    border-bottom: chocolate solid 5px;
    white-space: pre-line;

}


.producto p{
    margin-bottom: 5px;
    text-align: left;
}

.producto .adicionales{
    margin-bottom: 5px;
    text-align: center;
}

.quesos{
    display: flex;
    text-align: center;
    
}

.suaves{
    width: 50%;
    text-align: center;
}

.fuertes{
    width: 50%;
    text-align: center;
}

.suaves .suaves-fuertes{
    text-align: center;
}

.fuertes .suaves-fuertes{
    text-align: center;
}






@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-nosotros{
        width: 90%;
    }

    /* footer*/

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .contect-foo h4{
        border: none;
    }

    .contect-foo p{
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 20px;
    }


    .titulo-final{
        font-size: 20px;
    }
}
